tr, td {
  height: 16px !important;
  width: 10px;
}
body {
  font-family: Arial, sans-serif;
}
table {
  width: 70%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  text-align: center;
  font-size: 15px; /* Adjust the font size of the content within cells */
}
.header {
  background-color: #f2f2f2;
}
.header th {
  border: none;
}
select, input {
  width: 100px;
}

/* Set the page size to A4 */
body {
  width: 210mm; /* A4 width */
  height: 290mm; /* A4 height */
  margin: 0 auto; /* Center content */
}

